body {
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 50%;
    margin: auto;
}

legend {
    border: solid black 1px;
    padding: 5px;
    font-style: italic;
}